.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background: linear-gradient(180deg, #3affef, #08ff5271 60%);
    */
    background: #171717;


}


.left {
    text-align: left;
    margin-top: 0;
    margin-left: 80px;
}

.left p,
h2 {
    padding: 0;
    margin: 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1;

}

.hero-left h3 {
    text-decoration: none;
    color: transparent;
    /* background: linear-gradient(rgb(156, 149, 248), #232323); */
    background: linear-gradient(#3ec2ff, #fffdfd);

    background-clip: text;
    -webkit-background-clip: text;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    line-height: 1.1;
}

.hero-right img {
    width: 400px;
    object-fit: cover;
}

.hero-left h2 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;

}

.hero-left p {
    color: #171717;
    font-size: 80px;
    font-weight: 700;
}


.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    cursor: pointer;

    background: rgba(0, 174, 255, 0.63);
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;

}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        height: 80vh;
        background: #171717;

    }

    .hero-left {
        width: 400px;
        height: 200px;

    }

    .hero-left h2,
    p {
        font-size: 1.25rem;
        margin-top: 40%;
    }

    .hero-left h2 {}


    .hero-left h3 {
        font-size: 2rem;


    }

    /* .hero-right {
        display: none;
        flex-direction: none;
        justify-content: none;
        gap: 0;
        padding: 0;

    } */

    .hero-right {
        display: flex;
        flex-direction: center;
        justify-content: center;
        gap: 0;
        padding: 0;
        z-index: -1;
    }

    .hero-right img {
        width: 40%;
        height: auto;
        margin-left: 50%;
        margin-top: -100%;


    }

    .left {
        margin: 0;
        padding: 20px;
        border-radius: 20%;
        width: 80%;
        background: #111111;
    }

    .hero-latest-btn {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: 20%;
        margin-left: 20%;
    }

    .hero-latest-btn p {
        text-align: center;

    }



}