.item {
    width: 350px;
    color: #3ec2ff;
}

.item p {
    margin: 10px 30px;
    width: 80%;

}

.item-prices {
    display: flex;
    gap: 20px;
    margin-left: 60%;
    margin-bottom: 30px;

}

.item-price-new {

    font-size: 18px;
    font-weight: 600;
}

.item-price-old {

    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}


@media (max-width: 768px) {

    .item {
        width: 100%;
        text-align: center;


    }

    .item p {

        width: 50%;
        font-size: 14px;
        text-align: center;
        display: inline-block;
    }



    .item img {
        width: 300px;
        height: 300px !important;
        display: block;
        object-fit: contain;

    }

    .item a {
        display: inline-block;
        width: 100%;
    }


    .item:hover {
        transform: none;

    }

}