.item {
    width: 350px;
    color: #3ec2ff;
}

.item p {
    margin: 10px 30px;
    width: 50%;

}

.item-prices {
    display: flex;
    gap: 0px;
    margin-left: 45%;
    margin-bottom: 20px;

}

.item-price-new {

    font-size: 18px;
    font-weight: 600;
}

.item-price-old {

    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}


@media (max-width: 768px) {

    .item {
        width: 100%;
        text-align: center;


    }

    .item-prices {
        display: flex;
        gap: 5px;
        padding: 20px;
        /* margin-left: 48%; */



    }

    .item p {
        /* width: 80%; */
        width: 100%;
        font-size: 13px;
        text-align: center;


        margin: 10px 0px;



    }



    .item img {
        width: auto;
        height: 200px !important;
        display: block;
        object-fit: contain;

    }

    .item a {
        display: inline-block;
        width: 100%;
    }


    .item:hover {
        transform: none;

    }

}