.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #000000;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 40px;
    height: 40px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 1000;
}

.nav-menu {
    display: flex;
    place-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    place-items: center;
    gap: 3px;
    cursor: pointer;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -50px;
    margin-left: -30px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: #ffffff;

}

.effect {
    box-shadow: 20px 20px 20px 25px rgb(50, 252, 0);
}

@media (max-width: 768px) {

    .nav-menu li {
        font-size: 1.25rem;
    }


    .nav-login-cart {
        font-size: 1.25rem;
    }

    .nav-login-cart img {
        width: 25px;
        height: 25px;
    }

    .nav-logo img {
        width: 30px;
        height: 30px;
    }

    .nav-logo p {
        font-size: 25px;
    }
}