.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0 1px 3px -2px #000000;
    background: #171717;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nav-logo p {
    background: linear-gradient(180deg, rgba(0, 174, 255, 0.63), #ffffff);
    background-clip: text;
    color: transparent;

    font-size: 38px;
    font-weight: 1000;
}

.nav-menu {
    display: flex;
    place-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    place-items: center;
    gap: 3px;
    cursor: pointer;

}

.nav-menu li a {
    color: #ffffff;


}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;

}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -50px;
    margin-left: -30px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: #ffffff;

}

.effect {
    box-shadow: 20px 20px 20px 25px rgb(50, 252, 0);
}

.nav-login-cart button {
    color: #ffffff;
    background: #111111;
}

@media (max-width: 768px) {

    .navbar {
        width: 100%;
        padding: 0;
    }

    .nav-menu {
        display: flex;
        place-items: center;
        list-style: none;
        gap: 0;
        color: #626262;
        font-size: none;
        font-weight: 500;
    }

    .nav-menu img {
        width: 100%;


        object-fit: cover;

        width: 25px;
        height: 25px;
    }

    .nav-menu li {
        font-size: 0.80rem;
        margin-left: 20px;
    }


    .nav-login-cart {
        font-size: 1rem;
    }

    .nav-logo {
        gap: 0px;
        padding: 1rem;
    }

    .nav-login-cart img {
        width: 30px;
        height: 30px;
    }

    .nav-logo img {
        visibility: hidden;
        width: 0;
        height: 0;
        margin-left: 0;
    }

    .nav-logo p {
        font-size: 14px;

    }

    .nav-cart-count {
        margin-bottom: -20px;
        width: 20px;
        height: 20px;
    }

    .nav-login-cart {
        gap: 20px;
        margin-left: 10px;
    }

    .nav-login-cart button {
        background: none;


    }


}