.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

    overflow: hidden;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    overflow: hidden;

}

.slide {
    flex: 0 0 100%;
}



.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;


    text-decoration: none;
    color: transparent;
    background: linear-gradient(rgb(156, 149, 248), #232323);
    background-clip: text;
    -webkit-background-clip: text;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    -webkit-border-radius: 10px;

}

.popular-item {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;

}


@media (max-width: 768px) {

    .slide-container {
        display: flex;
        transition: transform 0.5s ease;
        overflow: hidden;

    }


    p.carousel-status {
        visibility: hidden;
    }

    /* .carousel .control-arrow {
        margin-top: 200px;
    } */

    .control-arrow {
        padding: 0;
        width: 200px;
        height: 100px;
        background: rgb(156, 149, 248) !important;
        z-index: -1;
    }

    /* .control-arrow.control-next::before {
        content: 'Next';
        color: #171717;
        font-size: 20px;
        z-index: 9;

    }

    .control-arrow.control-prev::before {
        content: 'Prev';
        color: #171717;
    } */



    .popular-item {
        margin-top: 50px;
        display: flex;
        gap: 30px;

        position: relative;
        overflow: hidden;

    }

    .popular-item img {}



    .popular {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 110vh;
    }

}